{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/navbar-fixed/">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">

    <!-- Custom Core CSS -->
    <link rel="stylesheet" href="{% static 'providers/css/stylesheet.css' %}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'providers/css/bootstrap.min.css' %}">
    
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Custom styles -->
    <style>
        .bd-placeholder-img{
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media(min-width: 768px){
            .bd-placeholder-img-lg{
                font-size: 3.5rem;
            }
        }
    </style>
    <title>{{title}}</title>
</head>
<body>
    {% include 'providers/navbar.html' %}
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>{{header}}</h1>
            <div class="row">
                <div class="col-sm-5">
                    <div class="display_table">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{form|crispy}}
                            <input class="btn btn-primary" type="submit" value="Save"/>
                        </form>                    
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script  src="{% static 'providers/js/jquery-3.6.0.min.js' %}"></script>
    <script  src="{% static 'providers/js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script  src="{% static 'providers/js/pager/paging.js' %}"></script>
    <script  src="{% static 'providers/js/myjs.js' %}"></script>
    <script  src="{% static 'providers/js/bootstrap.bundle.min.js' %}" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> 
    <script  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>