{% load static i18n %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/navbar-fixed/">

    <!-- Custom Core CSS -->
    <link rel="stylesheet" href="{% static 'store/css/stylesheet.css' %}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css' %}">
    
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    <!-- Custom styles -->
    <style>
        .bd-placeholder-img{
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media(min-width: 768px){
            .bd-placeholder-img-lg{
                font-size: 3.5rem;
            }
        }
    </style>
    <title>{{title}}</title>
</head>
<body>
    {% include 'store/navbar.html' %}
    <main role="main" class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{message}} </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="jumbotron">
            <div class="header">{{header}}</div>
            <div class="row">
                <div class="col-sm-2">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <input type="submit" value="Search|Export" class="btn btn-primary mybutton">
                    </form><br><br><br>
                    <a href="{% url 'store:add_items' %}"><div class="btn btn-primary mybutton">{% trans "Add Items" %}</div></a><br><br>
                    <a href="{% url 'store:list_history' %}"><div class="btn btn-primary mybutton">{% trans "List History" %}</div></a>
                </div><!-- End of first column -->
                <div class="col-sm-10">
                    <div class="display_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{% trans "COUNT" %}</th>
                                    <th>{% trans "ITEM NAME" %}</th>
                                    <th>{% trans "QUANTITY IN STORE" %}</th>
                                    <th>{% trans "REORDER LEVEL" %}</th>
                                    <th>{% trans "ISSUE BY" %}</th>
                                    <th>{% trans "DATE LAST UPDATE" %}</th>
                                    <th>{% trans "DELETE" %}</th>
                                </tr>
                            </thead>
                            {% for instance,max_reorder in instance_and_maxReorder %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><a href="{% url 'store:update_items' instance.id %}" title="update">{{instance.item_name}}</a></td>
                                <td>
                                    {% if instance.quantity <= instance.reorder_level and instance.quantity > max_reorder %}
                                        <div style="background-color : rgb(255, 102, 0);">
                                            <a href="{% url 'store:stock_detail' instance.id %}">{{instance.quantity}}</a>
                                        </div>
                                    {% elif instance.quantity <= max_reorder %}
                                        <div style="background-color : red;">
                                            <a href="{% url 'store:stock_detail' instance.id %}">{{instance.quantity}}</a> 
                                        </div>
                                    {% else %}
                                        <div>
                                            <a href="{% url 'store:stock_detail' instance.id %}">{{instance.quantity}}</a>                                                                
                                        </div>
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'store:reorder_level' instance.id %}">{{instance.reorder_level}}</a></td>
                                <td>{{instance.issue_by}}</td>
                                <td>{{instance.last_updated}}</td>
                                <td><a href="{% url 'store:delete_items' instance.id %}"><i class="material-icons" style="font-size:36px; color:red" title="Delete stock">delete</i></a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div><!-- End of second column -->
        </div>
    </main>
    <script  src="{% static 'store/js/jquery-3.6.0.min.js' %}"></script>
    <script  src="{% static 'store/js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script  src="{% static 'store/js/pager/paging.js' %}"></script>
    <script  src="{% static 'store/js/myjs.js' %}"></script>
    <script  src="{% static 'store/js/bootstrap.bundle.min.js' %}" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>